<div class="banner">
  <div class="container mt-3">

    <!--  Welcome at the top of the page and banner image -->
    <div class="row">
      <div class="col-12 col-lg-12">
        <h2>WELCOME</h2>
        <p id="intro">I'm Dana and this is a selection of my favourite books!</p>
        <p><%= link_to "Have a look", books_path, class: "btn btn-outline-primary" %></p>
      </div>
    </div>

    <div class="row card-description">
      <div class="col-12 col-lg-12 banner-photo">
        <%= image_tag 'book_case.jpg' %>
      </div>
    </div>

    <!-- About info and picture of me-->
    <div class="row">
      <div class="col-12 col-lg-12 mt-3 mb-3">
        <h2>About Me</h2>
      </div>
    </div>

    <div class="row card-description">
      <div class="col-12 col-lg-8 description">
        <div>
          <p>
            Hi! I am Dana Gordas and I've been an avid reader my entire life. I've also recently recently become a programmer and I've been trying to find a way to combine my passion for literature and code and the result is this website. I've selected a few books that I can highly recommend and for which I've written a short description and some personal thoughts.
            I hope you find among my recommendations your next favourite book or just something inspiring to read.
            <br>The picture on the right was taken by my talented friend <a href="https://www.baldovinphotography.com/" target="_blank"> Pia Baldovin</a> during a trip to Ireland we took together in 2018.
          </p>
        </div>
        <div>
          <h4>Connect</h4>
          <div class="social-media">
            <a href="https://github.com/DanaGordas" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://www.instagram.com/danagordas/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/danielagordas/" target="_blank"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-4 photo">
        <%= image_tag 'dana.jpg' %>
      </div>
    </div>

   <!--  Currently reading section -->
    <div class="row">
      <div class="col-12 col-lg-12 mt-3 mb-3">
        <h2>Currently reading</h2>
      </div>
    </div>

    <!-- Description of book and book cover -->
    <div class="row card-description">
      <div class="col-12 col-lg-4 photo">
        <%= image_tag 'mexican_gothic.jpg' %>
      </div>

      <div class="col-12 col-lg-8 description">
        <div>
          <h4>Mexican Gothic</h4>
          <p><em>Written by Silvia Moreno-Garcia</em></p>
          <p>After receiving a frantic letter from her newlywed cousin begging for someone to save her from a mysterious doom, Noemí Taboada heads to High Place, a distant house in the Mexican countryside. She’s not sure what she will find - her cousin’s husband, a handsome Englishman, is a stranger, and Noemí knows little about the region. Noemí is also an unlikely rescuer: She’s a glamorous debutante, and her chic gowns and perfect red lipstick are more suited for cocktail parties than amateur sleuthing. But she’s also tough and smart, with an indomitable will, and she is not afraid: not of her cousin’s new husband, who is both menacing and alluring; not of his father, the ancient patriarch who seems to be fascinated by Noemí; and not even of the house itself, which begins to invade Noemi’s dreams with visions of blood and doom.</p>
          <p> <%= link_to "NPR Review", "https://www.npr.org/2020/07/02/886008274/pitch-perfect-mexican-gothic-ratchets-up-the-dread", target: "_blank" %></p>
        </div>
      </div>
    </div>


  </div>
</div>
