<div class="container mt-3">
  <div class="nav">
    <%= link_to "All", books_path, class: "active nav-item" %>
    <% @categories.each do |c| %>
    <%= link_to c.name, books_path(category: c.name), class: "nav-item" %>
    <% end %>
  </div>

  <div class="cards mt-3">

    <% @books.each do |b| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        <% if b.photo.attached? %>
          url('<%= cl_image_path b.photo.key, :opacity=>50 %>')
        <% else %>
          url(<%= image_path 'book.jpg' %>)
        <% end %> ">
        <%= link_to b.name, book_path(b)  %>
      </div>
    <% end %>

  </div>

</div>
