<div class="container mt-3">

  <div class="row">
    <div class="col-12 col-lg-4">
      <% if @book.photo.attached? %>
        <%= cl_image_tag @book.photo.key, width: 300, height:400, crop: :scale %>
      <% else %>
        <%= image_tag 'book.jpg' %>
      <% end %>
    </div>
    <div class="col-12 col-lg-8">
      <h2><%= @book.name %></h2>
      <ul class="list-inline">
        <% @book.book_categories.each do |bc| %>
          <p class="btn btn-outline-secondary btn-sm disabled">
            <%= bc.category.name %>
          </p>
        <% end %>
      </ul>
      <p> <em>Written by <%= @book.author.first_name %> <%= @book.author.last_name %> and published in <%= @book.year %></em></p>
      <p><strong>Original language: </strong><%= @book.original_language %></p>
      <p><%= @book.description %></p>
    </div>
  </div>
</div>
