<div class="container mt-3">

  <div class="row">

    <div class="row card-description">
      <div class="col-12 col-lg-4 book-photo">
        <!-- show the book photo if attached. if not show the placeholder -->
        <div>
          <% if @book.photo.attached? %>
            <%= cl_image_tag @book.photo.key %>
          <% else %>
            <%= image_tag 'book.jpg' %>
          <% end %>
        </div>
      </div>

      <!--  display name, categories, author name, original language, date of publishing
    and description of the instance of book -->
      <div class="col-12 col-lg-8 book-description">
        <div>
          <h4><%= @book.name %></h4>
          <p> <em>Written by <strong><%= @book.author.first_name %> <%= @book.author.last_name %></strong> and published in <strong> <%= @book.year %></strong></em></p>
          <div class="list-inline">
            <% @book.book_categories.each do |bc| %>
              <p class="list-inline-item"><%= link_to bc.category.name, books_path(category: bc.category.name), class: "btn btn-outline-primary", style: "text-decoration: none;" %></p>
            <% end %>
          </div>
          <p><strong>Original language: </strong><%= @book.original_language %></p>
          <% name = @book.name %>
          <p><%= @book.description %></p>
          <a href="https://www.goodreads.com/search?q=<%= @book.name %>" target="_blank" class="btn btn-outline-primary" style="text-decoration: none">Search on Goodreads</a>
        </div>
      </div>
    </div>

  </div>

</div>
